.bl-list-item {
	margin-bottom: 20px;
	padding: 15px;
	background-color: white;
	.rounded(@border-radius);
}
.bl-date {
	font-size: 13px;
	color: @text-muted;
	margin-bottom: 10px;
}
.bl-list-item-title {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 10px 0;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.bl-list-item-more {
	margin-top: 10px;
}
.bl-list-item-img {
	float: right;
	margin-left: 15px;
	@media (max-width: 767px) {
		display: block;
		float: none;
		margin-bottom: 15px;
		margin-left: 0;
		text-align: center;
	}
}

.b-list-item {
	@media (max-width: 767px) {
		margin-bottom: 25px;
	}
}

.b-list-item-img {
	margin-bottom: 10px;

	img {
		width: 100%;
	}
}

.b-index-blog-heading-title {
	margin: 0 !important;
	padding: 0;
	font-size: 18px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}