/* Global Items */
.sr-glItem-subtext {
	display: block;
	font-size: @font-size-md;
	color: @grey-muted;
}
.sr-glItem-subtext-i {
	height: 18px;
	display: block;
	overflow: hidden;
}
.sr-glItem-img {
	vertical-align: middle;
	padding: 5px;
	display: inline-block;
	> img {
		max-height: 150px;
		position: relative;
		z-index: 1;
	}
}
.sr-glItem-img_multiple {
	position: relative;
	img {
		position: relative;
		z-index: 3;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: white;
		border: 1px solid @border-color;
		z-index: 2;
	}
	&:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		bottom: -5px;
		right: -5px;
		background-color: white;
		border: 1px solid @border-color;
		z-index: 1;
	}
}
.sr-glItem-label {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10;
}

/* Gallery */
.sr-gallery {
	margin-bottom: 15px;
}
.sr-gallery-item-wrap {
	margin-bottom: 15px;
}
.sr-gallery-item-in {
	display: block;
	.link-dark();
}
.sr-gallery-item {
	border: 2px solid @border-color;
	position: relative;
	background-color: white;
	.rounded(@border-radius-sm);
	&.selected {
		border-color: @selected-color;
		.sr-gallery-item-content {
			border-color: @selected-color;
		}
	}
	.sr-gallery-item-fav {
		display: none;
		&.active {
			display: block;
		}
	}
	&:hover {
		border-color: @border-color-md;
		&.selected {
			border-color: @selected-hover-color;
			background-color: @selected-bg;
		}
		.sr-gallery-item-fav {
			display: block;
		}
	}
}
.sr-gallery-item-fav {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}
.sr-gallery-item-img {
	display: block;
	text-align: center;
	height: 200px;
	padding: @default-spacing;
	white-space: nowrap;
	background-color: white;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}
.sr-gallery-item-content {
	display: block;
	padding: @default-spacing;
	border-top: 1px solid @border-color;
}
.sr-gallery-item-heading {
	display: block;
	margin-bottom: 10px;
	height: 40px;
	overflow:hidden;
}
.sr-gallery-item-heading-title {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.sr-gallery-item-price {
	display: block;
	margin-top: 10px;
}

/* Map */
.sr-map {
	margin-bottom: 30px;
}
.sr-list-item-map {
	.sr-list-item-in {
		cursor: pointer;
	}
	&.active {
		.sr-list-item-in {
			border-color: @border-color-md;
		}
	}
}
.sr-map-baloon {
	overflow: hidden;
	zoom: 1;
}
.sr-map-baloon-img {
	float: left;
	width: 90px;
	margin-right: 10px;
	img {
		max-width: 90px !important;
	}
}
.sr-map-baloon-content {
	overflow: hidden;
	zoom: 1;
}
.sr-map-baloon-title {
	font-weight: bold;
}
.sr-map-baloon-price {
	margin-top: 5px;
}
.sr-map-baloon-subtext {
	font-size: @font-size-sm;
	color: @grey-muted;
}
.sr-map-baloon-subtext-i {
	margin-top: 5px;
}

/* List */
.sr-list {
	margin-bottom: 15px;
}
.sr-list-item {
	padding-left: 100px;
	position: relative;
	margin-bottom: 15px;
	&.selected {
		.sr-list-item-in {
			border-color: @selected-color;
		}
	}
	.sr-list-item-fav {
		display: none;
		&.active {
			display: block;
		}
	}
	&:hover {
		a.sr-list-item-in {
			border-color: @border-color-md;
			color: @link-hover-color;
		}
		&.selected {
			.sr-list-item-in {
				border-color: @selected-hover-color;
			}
		}
		.sr-list-item-fav {
			display: block;
		}
	}
	.c-price-sub {
		display: block;
	}
	@media (max-width: 991px) {
		padding-left: 0;
	}
}
.sr-list-item-in {
	display: table;
	width: 100%;
	padding: 15px;
	border: 2px solid @border-color;
	background-color: white;
	position: relative;
	color: @link-dark-color;
}
.sr-list-item-fav {
	position: absolute;
	bottom: @default-spacing;
	left: 55px;
	z-index: 10;
	@media (max-width: 991px) {
		bottom: auto;
		top: 10px;
		right: 10px;
		left: auto;
		display: block !important;
	}
}
.sr-list-item-img {
	display: table-cell;
	width: 140px;
	vertical-align: top;
	text-align: center;
	padding-right: 30px;
	white-space: nowrap;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	@media (max-width: 767px) {
		display: block;
		width: auto;
		margin-bottom: 15px;
		padding-right: 0;
	}
}
.sr-list-item-content {
	display: table-cell;
	vertical-align: top;
	position: relative;
	@media (max-width: 991px) {
		display: block;
		padding-bottom: 0;
		padding-right: 50px;
	}
	@media (max-width: 767px) {
		padding-right: 0;
	}
}
.sr-list-item-content_hascity {
	padding-bottom: 20px;
}
.sr-list-item-body {
	display: table-cell;
	vertical-align: top;
	@media (max-width: 767px) {
		display: block;
	}
}
.sr-list-item-body-in {
	display: table;
	width: 100%;
	@media (max-width: 767px) {
		display: block;
	}
}
.sr-list-item-heading {
	display: block;
	margin-bottom: 7px;
}
.sr-list-item-heading-title {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	> a {
		.link-dark();
	}
}
.sr-list-item-region {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: @font-size-md;
	color: @grey-muted;
	@media (max-width: 991px) {
		position: relative;
	}
}
.list-item-right {
	display: table-cell;
	text-align: right;
	padding-left: 15px;
	@media (max-width: 991px) {
		display: block;
		padding-left: 0;
		margin-top: 10px;
		text-align: left;
	}
}
.sr-list-item-date {
	position: absolute;
	width: 100px;
	top: 5px;
	left: 0;
	text-align: right;
	padding-right: @default-spacing;
	font-size: @font-size-sm;
	@media (max-width: 991px) {
		display: none;
	}
}
.sr-list-item-controls {
	margin-top: 5px;
}
.sr-list-item-controls-links {
	> a {
		display: inline-block;
		margin-right: 5px;
		margin-top: 5px;
	}
}
.sr-list-item-controls-buttons {
	float: right;
	@media (max-width: 767px) {
		float: none;
		margin: 10px 0;
		> a {
			display: block;
			margin-bottom: 5px;
		}
	}
}
.sr-list-item-autoup {
	margin-top: 8px;
}
.sr-list-item-autoup-container {
	padding: 15px;
	margin-top: 10px;
	border: 1px solid @border-color;
}
.sr-list-item-autoup-selects {
	.form-control {
		margin-bottom: 10px;
	}
}
.sr-list-item-autoup-selects-time {
	white-space: nowrap;
}
.sr-list-item-stats {
	.clear-ul();
	margin-top: 15px;
	font-size: @font-size-sm;
	color: @grey-muted;
	> li {
		display: inline-block;
		margin-right: 7px;
	}
}

/* Categories */
.sr-categories {
	margin-bottom: 15px;
	margin-left: -5px;
	margin-right: -5px;
	&:after {
		.clear();
	}
}
.sr-categories-col {
	.clear-ul();
	display: block;
	float: left;
	width: 25%;
	> li {
		padding: 0 5px;
    margin-bottom: 10px;
    > a {
    	display: block;
    	padding: 5px 10px;
    	border: 1px solid @border-color;
    	.link-grey();
    	.rounded(@border-radius);
    	&:hover {
    		border-color: @border-color-md;
    	}
    }
	}
	@media (max-width: 767px) {
		float: none;
		width: auto;
	}
}
.sr-categories-col-count {
	float: right;
	color: @text-muted;
	font-size: @font-size-md;
	position: relative;
	top: 2px;
}
.sr-categories-more {
	> a {
		border-style: dotted !important;
		color: @text-muted !important;
	}
}

/* List Top */
.sr-listTop {
	display: table;
	width: 100%;
	margin-bottom: @default-spacing;
	background-color: white;
	.rounded(@border-radius);
	font-size: @font-size-md;
}
.sr-listTop-item {
	display: table-cell;
	white-space: nowrap;
	padding: @default-spacing / 2;
	list-style: none;
	> li {
		display: inline-block;
	}
	&_sm {
		width: 1%;
	}
	&_right {
		text-align: right;
	}
	+ .sr-listTop-item {
		border-left: 1px solid @border-color-light;
	}
	@media (max-width: 767px) {
		+ .sr-listTop-item {
			border-left: 0;
		}
	}
}
.sr-listTop-btn {
	display: inline-block;
	padding: (@default-spacing / 3) (@default-spacing / 2);
	color: @link-grey-color;
	.rounded(@border-radius-sm);
	&:hover, &:active, &:focus {
		color: @link-hover-color;
		background-color: @link-hover-bg;
	}
	&.active, .active > & {
		background-color: @link-active-bg;
		color: white;
	}
}

/* Break List */
.sr-breakList {
	.clear-ul();
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid @border-color;
	> li {
		display: inline;
		font-size: 13px;
		+ li {
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid @border-color;
		}
		&.active {
			> a {
				text-decoration: none !important;
				color: @text-color;
			}
		}
	}
}
.sr-breakList-content {
	font-size: 13px;
	margin-bottom: 20px;
}

/* Bottom Locations */
.sr-bottomLocations {
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid @border-color;
}
.sr-bottomLocations-path {
	.clear-ul();
	margin-bottom: 15px;
	font-size: 13px;
	> li {
		display: inline-block;
		+ li {
			&:before {
				content: ' / ';
				color: @text-muted;
			}
		}
	}
}
.sr-bottomLocations-list {
	display: table;
  width: 100%;
  margin-bottom: 5px;
}
.sr-bottomLocations-list-col {
	display: table-cell;
  vertical-align: top;
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
  	margin: 2px 0;
  	color: @text-muted;
  }
}

/* Premium block */
.sr-vip {
	margin-bottom: 30px;
	border: 1px solid @premium-color;
}
.sr-vip-title {
	padding: 10px 15px;
	text-align: center;
	background-color: @premium-color;
	color: white;
	font-weight: bold;
}
.sr-vip-content {
	.clear-ul();
	> li {
		+ li {
			border-top: 1px solid @premium-color;
		}
		> a {
			display: block;
			text-align: center;
			padding: 15px;
			text-decoration: none !important;
			background-color: white;
			&:hover {
				background-color: @premium-bg;
			}
		}
	}
}
.sr-vip-content-img {
	margin-bottom: 15px;
}
.sr-vip-content-title {
	margin-top: 7px;
}
.sr-vip-content-price {
	margin-top: 7px;
	color: @text-color;
}