
// Main Colors
@primary-color:											#f26824;
@primary-md-color: 									darken(@primary-color, 5%);
@grey: 															#aab2b5;
@grey-light: 												#f5f5f5;
@grey-md: 													#bababa;
@grey-muted: 												#828c93;
@grey-dark: 												#414749;
@grey-dark-more: 										darken(@grey-dark, 5%);
@grey-darkest: 											#212526;
@red: 															#eb5454;
@green: 														#80b740;
@blue: 															#428bca;
@orange: 														#f26824;
@yellow: 														#f1cb33;
@urgent-color: 											@yellow;
@success-color: 										#74b31b;
@info-color: 												#23b7e5;
@warning-color: 										#f0ac18;
@danger-color: 											#e04545;

// Typography
@font-family: 											'Arial', sans-serif;
@text-color: 												@grey-darkest;
@text-muted: 												@grey;
@font-size-text: 										16px;
@font-size: 												14px;
@font-size-md: 											13px;
@font-size-sm: 											12px;
@font-size-xs: 											11px;
@font-size-h1:          						30px;
@font-size-h2:          						26px;
@font-size-h3:          						22px;
@font-size-h4:          						18px;
@font-size-h5:          						14px;
@font-size-h6:          						12px;
@line-height:           						1.428571429;
@line-height-text: 									26px;

// Links
@link-color: 												@blue;
@link-hover-color: 									@primary-color;
@link-dark-color: 									@grey-dark;
@link-dark-hover-color: 						@grey-darkest;
@link-grey-color: 									@grey-muted;
@link-hover-bg: 										@grey-light;
@link-active-bg: 										@primary-color;
@link-active-bg-text: 							white;

// Layout Settings
@container-width:       						1200px;
@container-width-lg: 								1440px;
@container-width-md:    						960px;
@default-spacing:       						15px;
@border-radius:         						4px;
@border-radius-sm:      						2px;
@border-color: 											#d0d6d9;
@border-color-md: 									darken(@grey-md, 10%);
@border-color-light: 								lighten(@grey-md, 20%);

// THEME
@body-bg: 													@grey-light;
@filter-bg:                         white;
@selected-color: 										@primary-color;
@selected-hover-color: 							@primary-md-color;
@selected-bg: 											lighten(@yellow, 30%);
@fav-color: 												@primary-color;
@premium-color: 										@orange;
@premium-bg: 												lighten(@yellow, 30%);
@msg-self: 													#f1f5fc;
@msg-others: 												@grey-light;
@footer-bg: 												#e5e5e5;
@footer-height: 										200px;
@highlight-bg:                      #fff784;

// Header
@header-height: 										50px;
@header-bg: 												@grey-dark;
@header-text: 											white;
@header-links: 											@grey-md;
@header-links-hover-bg: 						@grey-dark-more;
@header-border: 										darken(@grey-dark, 7%);
