.l-header-logo img {
  max-height: 100px;
}
.sr-vip-title {
    padding: 10px 15px;
    text-align: center;
    background-color: rgba(255,115,0,0.9);
    font-weight: 700;
}
.l-header {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    color: white;
    background-color: rgba(255,115,0,0.9);
    font-size: 13px;
   
}
@media (min-width: 768px) {
  .fixed-header .l-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
  }
}
@media (max-width: 767px) {
  .l-header {
    display: block;
    height: auto;
  }
}
.l-header-left {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  height: 50px;
}
@media (max-width: 767px) {
  .l-header-left {
    display: block;
    height: auto;
  }
}
.l-header-btn {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  color: white;
  border-left: 1px solid #fff;
}
.l-header-btn:hover,
.l-header-btn:active,
.l-header-btn:focus {
  background-color: #80b740;
  color: white;
}
.l-header-btn.active {
  background-color: rgba(255,115,0,0.9);
  color: white;
}
.l-header-nav {
  background-color: rgba(255,115,0,0.9) !important;
 
}
.l-header-nav > a {
  color: white;
  border-right: 1px solid #fff;
}
.l-header-nav > a.active {
  background-color: rgba(255,115,0,0.9);
  color: white;
}


.l-header-nav > a:hover,
.l-header-nav > a:active,
.l-header-nav > a:focus {
  background-color: #80b740;
  color: white;
}
.l-header-nav > a.active {
  background-color: #80b740;
  color: white;
}

.l-header-btn-add {
  background-color: #893F02;
  color: white !important;
  font-weight: bold;
  min-width: 50px;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.l-header-btn-add:hover,
.l-header-btn-add:active,
.l-header-btn-add:focus {
  background-color: rgba(255,115,0,0.9);
}
.btn-success {
  color: white;
  background-color: #893F02;
  border-color: #893F02;
}
.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success.active:focus {
  background-color: rgba(255,115,0,0.9);
  border-color: rgba(255,115,0,0.9);
}
.l-filter-form-submit {
  display: block;
  white-space: nowrap;
  color: white;
  padding: 10px 15px;
  background-color: rgba(255,115,0,0.9);
  border: 2px solid transparent;
  margin-left: -2px;
}
.l-filter-form-submit:hover,
.l-filter-form-submit:active,
.l-filter-form-submit:focus {
  background-color: rgba(255,115,0,0.9);
}
.l-header-btn-add {
  background-color: #80b740;
  color: white !important;
  font-weight: bold;
  min-width: 50px;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.l-header-btn-add:hover,
.l-header-btn-add:active,
.l-header-btn-add:focus {
  background-color: rgba(255,115,0,0.9);
}
/* Footer */
.l-footer {
  background-color: #f2dca2;
  border-top: 1px solid #d0d6d9;
}
/*| Navigation |*/

nav{
  width: 100%;
  background: #fff;
   display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
  nav ul{
    list-style: none;
    position: auto;
  
    margin-left: auto;
  margin-right: auto;
    display: inline-table;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover{
    background: rgba(255,255,230,0.9);
  
}

    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: center;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block; 
        padding: 30px 20px;
        color: #222; 
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }

      nav ul ul{
        display: none;
        background: #fff;
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute; 
            left: auto; 
            top:0;
          }
/*| Navigation2 |*/