
.water {
    fill: rgba(78,205,196,1);
}

.land {
    fill: rgba(85,98,112,1);
    stroke: rgba(78,205,196,0.3);
    stroke-width: 0.7px;
}

.land:hover {
    fill:rgba(196,77,88,1);
    stroke-width: 1px;
}

.focused {
    fill: rgba(196,77,88,1);
}


.map_wrapper {
    display: none;
}



.countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
}
.flex_container {
    display: flex;
    width: 100%;
}
.globe_container {
    width: 100%;
    justify-content: center;
    align-items: center;
}
#chart {
    width: 100%;
    text-align: center;
    margin-top:0;
    height: 100%;
}

