.ad-top {
	display: table;
	width: 100%;
	margin-bottom: @default-spacing;
	@media (max-width: 767px) {
		display: block;
	}
}
.ad-top-left {
	display: table-cell;
	vertical-align: middle;
	@media (max-width: 767px) {
		display: block;
		margin-bottom: @default-spacing;
	}
}
.ad-top-right {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	@media (max-width: 767px) {
		display: block;
		text-align: center;
	}
}
.ad-top-func {
	.clear-ul();
	> li {
		display: inline-block;
		margin-left: 5px;
		position: relative;
	}
	@media (max-width: 767px) {
		position: relative;
		> li {
			position: static;
		}
	}
}
.ad-top-func-dropdown {
	left: auto;
	right: 0;
	width: 350px;
	@media (max-width: 767px) {
		width: 100%;
	}
}
.ad-top-info {
	color: @grey-muted;
	font-size: @font-size-md;
	.clear-ul();
	&:after {
		.clear();
	}
	> li {
		float: left;
		padding-right: 10px;
		margin-right: 10px;
		border-right: 1px solid @border-color;
		> i {
			margin-right: 2px;
			font-size: 14px;
		}
		&:last-child {
			border: 0;
		}
	}
	@media (max-width: 767px) {
		text-align: center;
		> li {
			display: inline-block;
			float: none;
			padding: 0 10px;
			margin: 0;
			border: 0;
		}
	}
}
.ad-price {
	background-color: @primary-color;
	color: white;
	font-weight: bold;
	font-size: @font-size + 2;
	padding: (@default-spacing / 2) @default-spacing * 2;
	margin-right: -15px;
	text-align: center;
	position: relative;
	white-space: nowrap;
	border-top-left-radius: @border-radius-sm;
	border-bottom-left-radius: @border-radius-sm;
	border-top-right-radius: @border-radius-sm;
	&:after {
		content:'';
		position: absolute;
		right: 0;
		bottom: -@default-spacing; 
		width: 0;
		height: 0;
		border-style: solid;
		border-width: @default-spacing @default-spacing 0 0;
		border-color: darken(@primary-color, 15%) transparent transparent transparent;
	}
	@media (max-width: 767px) {
		.rounded(0);
		margin: 0;
		&:after {
			display: none;
		}
	}
}
.ad-price-mod {
	font-weight: normal;
	font-size: @font-size-md;
}

.ad-images {
	position: relative;
	margin-bottom: @default-spacing;
}
.ad-images-zoom {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	line-height:30px;
	text-align: center;
	color: fade(white, 70%);
	background: fade(black, 70%);
	.rounded(@border-radius);
	&:hover, &:focus {
		color: white;
	}
}
.ad-address {
	color: @grey-muted;
}

.ad-author {
	margin-bottom: @default-spacing;
	@media (max-width: 767px) {
		margin-bottom: 0;
	}
}
.ad-author-in {
	padding: @default-spacing;
	background-color: white;
	+ .ad-author-in {
		border-top: 1px solid @border-color;
	}
}
.ad-author-stats {
	font-size: @font-size-md;
	color: @grey-muted;
}
.ad-author-stats-item {
	+ .ad-author-stats-item {
		margin-top: 7px;
	}
}
.ad-author-shop {
	text-align: center;
}
.ad-author-shop-logo {
	margin-bottom: 10px;
}
.ad-author-shop-descr {
	margin-top: 7px;
	font-size: @font-size-md;
	color: @text-muted;
}
.ad-author-shop-website {
	margin-top: 7px;
	font-size: @font-size-md;
}
.ad-author-shop-location {
	margin-top: 7px;
	padding-top: 7px;
	border-top: 1px dotted @border-color;
}
.ad-author-contact {
	font-size: 13px;
}
.ad-author-contact-row {
	display: table;
	width: 100%;
}
.ad-author-contact-row-label {
	display: table-cell;
	vertical-align: top;
	color: @text-muted;
	width: 70px;
	text-align: right;
}
.ad-author-contact-row-content {
	display: table-cell;
	vertical-align: top;
	padding-left: 5px;
}
.ad-author-contact-social {
	margin-top:7px;
	padding-top: 7px;
	text-align: center;
	border-top: 1px dotted @border-color;
}

.ad-author-user {
	display: table;
	width: 100%;
}
.ad-author-user-avatar {
	display: table-cell;
	vertical-align: top;
	width: 65px;
	img {
		width: 65px;
		height: 65px;
	}
}
.ad-author-user-info {
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
}
.ad-author-user-name {

}
.ad-author-user-subtext, .ad-author-user-type, .ad-author-user-created {
	font-size: 13px;
	color: @text-muted;
	margin: 2px 0;
}
.ad-author-user-all {
	font-size: 13px;
}
.ad-author-map {
	margin-top: 10px;
}
.ad-author-map-container {
	width: 100%;
	height: 300px;
}

.ad-dynprops {
	display: flex;
	flex-wrap: wrap;
	margin-top: -10px;
	&:after {
		.clear();
	}
}
.ad-dynprops-item {
	width: 33.333333%;
  padding-right: 10px;
  @media (max-width: 767px) {
  	width: 50%;
  }
}
.ad-dynprops-item-in {
  margin: 10px 0;
}
.ad-dynprops-item-attr {
	display: block;
	color: @text-muted;
  font-size: 13px;
}
.ad-dynprops-item-val {
	display: block;
}

.ad-contact-name {
	font-weight: bold;
	margin-bottom: 10px;
}
.ad-contact-phones {
	margin-bottom: 15px;
}
.ad-contact-item {
	margin-bottom: 10px;
}

/* Gallery */
.ad-gallery {
	margin: -10px -10px 10px -10px;
	padding: 0;
	list-style: none;
	&:after {
		.clear();
	}
	> li {
		width: 25%;
		padding: 10px;
		float: left;
		position: relative;
	}
	@media (max-width: 767px) {
		> li {
			width: 33.333333%;
		}
	}
}
.ad-gallery-item {
	background-color: @grey-light;
	border: 1px dashed @border-color;
	display: table;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 20px;
	&_preview {
		background: white;
		line-height: 0;
		cursor: move;
	}
}
.ad-gallery-first {
	> .ad-gallery-item_preview {
		border: 1px solid @primary-color;
	}
}
.ad-gallery-item-img {
	display: table-cell;
	width: 100%;
	height: 100px;
	vertical-align: middle;
}
.ad-gallery-item-in {
	display: table-cell;
	width: 100%;
	height: 100px;
	vertical-align: middle;
	color: @green;
	text-align: center;
	&:hover {
		color: darken(@green, 10%);
	}
}
.ad-gallery-item-del {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: @red;
	.rounded(50%);
	font-size: 13px;
	color: white !important;
	&:hover {
		background: darken(@red, 10%);
	}
}
.ad-gallery-item-rotate {
	position: absolute;
	top: 0;
	right: 25px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: @blue;
	.rounded(50%);
	font-size: 13px;
	color: white !important;
	&:hover {
		background: darken(@blue, 10%);
	}
}

// Selected Category
.ad-catSelected {
	display: table;
	width:100%;
}
.ad-catSelected-img {
	display: table-cell;
	vertical-align: middle;
	width: 32px;
	img {
		width: 32px !important;
	}
}
.ad-catSelected-content {
	display: table-cell;
	vertical-align: middle;
	padding-left:10px;
}