@charset "UTF-8";

/* Device Detecting */
@media only screen and (max-width: 767px) { html { background-image: url(/index.php?bff=device&type=phone); } }
@media only screen and (min-width: 768px) and (max-width: 979px) { html { background-image: url(/index.php?bff=device&type=tablet); } }
@media only screen and (min-width: 980px) { html { background-image: url(/index.php?bff=device&type=desktop); } }

@import "_variables";
@import "_mixins";
@import "_common";
@import "_layout";
@import "_index";
@import "_search";
@import "_advert";
@import "_shops";
@import "_blog";
@import "_help";
@import "_user";
@import "_print";

.generate-margins(0px);
.generate-paddings(0px);